{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <!-- Custom -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/lightbox.min.css' %}">

    <title>BT Real Estate {% block title %}{% endblock %}</title>
  </head>
  <body>
<!-- Top bar -->
    {% include 'partials/_topbar.html' %}
    <!-- Nav bar -->
    {% include 'partials/_navbar.html' %}
    <!-- footer -->
    {% include 'partials/_footer.html' %}

    {% block content %}



    <script src="{% static 'js/jquery-3.3.1.min.js' %} "></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}  "></script>
    <script src="{% static 'js/lightbox.min.js' %}  "></script>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
    {% endblock %}
